/* Below applies to all of the page */

* {
    padding: 0;
    margin: 0;
}

html, body {
    height: 100%;
    width: 100%
}

body {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #080b05;
    font-family: "Edu NSW ACT Cursive", cursive;
}

.container {
    display: flex;
    width: 70%;
    height: 100%;
    background-color: white;
}

/* Below is everything on the LEFT side of the page */

.left-side {
    position: relative;
    width: 40%;
}

.image-background, .logo-box, .svg-wrapper, #photo_credit {
    position: absolute;
}

.logo-box, .svg-wrapper {
    top: 20%;
}

.image-background {
    width: 100%;
    height: 100%;
}

.logo-box {
    transform: translateY(-50%);
    width: 100%;
    background-color: black;
    opacity: 50%;
    height: 150px;
}

.svg-wrapper {
    left: 50%;
    transform: translate(-50%,-50%);
    font-weight: bold;
}

#photo_credit {
    bottom: 1%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    font-size: 12px;
}

a:link {
    color: white;
}

a:visited {
    color: #d896ff;
}

/*  Below is everything on the RIGHT side of the page  */

.right-side, .form-container, .nested-form-container, form {
    display: flex;
}

.right-side {
    flex-direction: column;
    justify-content: center;
    width: 70%;
    background-color: whitesmoke;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    flex-grow: 1;
    padding-left: 50px;
    padding-bottom: 50px;
    gap: 20px;
    font-weight: bold;
    font-size: 20px;
}

.form-container {
    flex-wrap: wrap;
    flex-direction: column;
    padding: 20px 50px;
    background-color: white;
    box-shadow: 0 10px 5px -5px lightgray;
    height: 30%;
    gap: 20px;
}

.nested-form-container {
    gap: 60px;
}

form {
    flex-direction: column;
}

label {
    font-size: small;
}

input {
    margin-bottom: 10px;
    height: 20px;
    width: 200px;
    border-radius: 2px;
    border: 1px solid lightgray;
    transition: 0.15s;
    outline: none;
}

input:focus {
    border-color: #be29ec;
    box-shadow: 4px 4px 8px lightgray;
}

input:invalid {
    border-color: red;
}

.footer {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 20px 50px;
    font-size: 12px;
    gap: 20px;
}

button {
    height: 40px;
    width: 200px;
    font-family: "Edu NSW ACT Cursive", cursive;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    background-color: #33401c;
    color: white;
    border-radius: 8px;
    border: none;
    box-shadow: 4px 4px 4px lightgray;
    transition-duration: 0.15s;
    cursor: pointer;
}

button:hover {
    background-color: #6b8e23;
    color: #33401c;
}

a#foot_link:link {
    color:#33401c;
    font-weight: bold;
    text-decoration: none;
}

a#foot_link:visited {
    color:#6b8e23
}